
 .page { display: none; }
section { padding: 0px; }
nav{position: fixed;  top:0px; right:0;}
nav a { margin: 0px; cursor: pointer; }
.picg{height:  40px; border-radius: 20px;}
.mainlogo{display: flex;  gap: 10px;}
.colors{ background-color:olivedrab !important;}
.colorsub{background-color: rgba(2, 79, 8, 0.932); color: white; font-size: 20px;}

*{margin:0;padding:0;box-sizing:border-box}

.navbar{
  background:olivedrab;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:12px 30px;
  position:relative;
  z-index:999;
}

.nav-left{
  display:flex;
  align-items:center;
  gap:10px;
}
.logo{
  width:40px;
}
.brand{
  color:#ff9800;
  font-size:22px;
  font-weight:bold;
}

.nav-links{
  display:flex;
  padding-right: 20px;
  justify-content: center;
  gap:35px;
}
.nav-links a{
  
  color:white;
  text-decoration:none;
  font-size:20px;
  font-weight: bolder;
  margin-top: 10px;
}

.toggle{
  display:none;
  color:white;
  font-size:26px;
  cursor:pointer;
}
/* start section hero */
#hero{
  padding: 0;
  top: 0;
  margin: 0;
  height:100vh;
  width: 100%;
  overflow:hidden;
}

.slide{
  position:absolute;
  width:100%;
  height:100%;
  display:none;
}

.slide img{
  width:100%;
  height:100%;
  object-fit:cover;
  image-rendering: auto;
  transform: scale(1);
}
body{
  background: olivedrab;
}

.slide h2{
   position:absolute;
  top:30%;
  left:10%;
  transform:translate(-50%,-50%);
  color:#b0e252ab;
  font-weight: bolder;
  font-size:50px;
  font-family: cursive;
  padding:10px 20px;
}
.slide h1{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  color:olivedrab;
  font-size:50px;
  background:rgba(0,0,0,0.5);
  padding:10px 20px;
}

.slide.active{
  display:block;
}
.lines{
  position:absolute;
  bottom:25px;
  left:50%;
  transform:translateX(-50%);
}
.lines span{
  display:inline-block;
  width:25px;
  height:4px;
  margin:0 4px;
  background:#777;
}
.lines span.active{
  background:#fff;
}

/* end sectionhero */

/* second section */
.about-section{
  padding:70px 10%;
  background:#f9f9f9;
  margin-top: 50px;
}

.about-container{
  display:flex;
  align-items:center;
  gap:40px;
}

.about-content{
  flex:1;
}

.about-content h2{
  font-size:46px;
  font-weight: bolder;
  color: olivedrab;
  margin-bottom:15px;
}
.pg{
  font-size: 20px;
}

.cards{
  display:flex;
  gap:20px;
  margin-top:50px;
}

.card{
  background:olivedrab;
  padding:20px;
  color: #fff;
  border-radius:10px;
  text-align:center;
  flex:1;
  transition:0.4s;
  cursor:pointer;
  box-shadow:0 8px 20px rgba(0,0,0,0.1);
}

.card:hover{
  transform:translateY(-10px) scale(1.05);
  background:#fff;
  color:olivedrab;
}

.about-image{
  flex:1;

}

.about-image img{
  width:100%;
  height: 300px;
  border-radius:12px;
}
/* end */

/* start section 3 */
.menu-section{
  padding:60px 30px;
  background:#f5f7f2;
  text-align:center;
}

.menu-section h2{
  color:olivedrab;
  font-size:50px;
  font-weight: bolder;
  font-family:monospace;
  margin-bottom:30px;
}

.slider{
  overflow-x:auto;
  cursor:grab;
}
.slider:active{
  cursor:grabbing;
}
.slider::-webkit-scrollbar{
  display:none;
}

.menu-track{
  display:flex;
  gap:30px;
  width:max-content;
  padding-bottom:20px;
}

.menu-card{
  min-width:260px;
  background:#fff;
  border-radius:12px;
  overflow:hidden;
  box-shadow:0 10px 20px rgba(0,0,0,0.1);
  transition:0.3s;
}

.menu-card img{
  width:100%;
  height:180px;
  object-fit:cover;
}

.menu-card h3{
  font-size: 30px;
  color:olivedrab;
  margin:12px 0 5px;
}

.menu-card p{
  font-size: 20px;
  font-size:14px;
  color:#555;
}

.menu-card span{
  display:block;
  font-size: 26px;
  margin:10px 0 18px;
  font-weight:bold;
}

.menu-card:hover{
  transform:translateY(-8px);
  box-shadow:0 15px 30px rgba(107,142,35,0.4);
}
.explore-wrapper{
  width:100%;
  text-align:center;
  margin-top:40px;
}

.explore-btn{
  padding:12px 35px;
  background:olivedrab;
  color:white;
  border:none;
  border-radius:30px;
  font-size:16px;
  cursor:pointer;
  transition:0.3s;
}

.explore-btn:hover{
  background:#556b2f;
  transform:scale(1.05);
}

/* end section 3 */
/* star four section */
.info-section{
  padding:70px 40px;
  background:#ffffff;
}

.info-row{
  display:flex;
  align-items:center;
  justify-content:space-between;
  gap:50px;
  margin-bottom:70px;
}

.info-row.reverse{
  flex-direction:row-reverse;
}

.info-text{
  flex:1;
}

.info-text h2{
  color:olivedrab;
  margin-bottom:15px;
}

.info-text p{
  color:#555;
  line-height:1.6;
}

.info-img{
  flex:1;
}

.info-img img{
  width:100%;
  height:350px;
  object-fit:cover;
  border-radius:12px;
  transition:0.4s;
}

.info-img img:hover{
  transform:scale(1.05);
  box-shadow:0 15px 30px rgba(107,142,35,0.4);
}
.more{
  display: none;
}

.read-more-btn{
  margin-top: 10px;
  padding: 8px 18px;
  border: none;
  background:olivedrab;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.read-more-btn:hover{
  background: rgba(126, 151, 76, 0.699);
}

/* Responsive */
@media(max-width:768px){
  .info-row{
    flex-direction:column;
  }
  .info-row.reverse{
    flex-direction:column;
  }
}
/* end 4 */
/* section 5 */
.booking-section {
  background: linear-gradient(135deg, #3b5323, #556b2f);
  padding: 80px 20px;
  font-family: sans-serif;
  color: white;
}

.booking-wrapper {
  max-width: 1100px;
  margin: auto;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
    flex-direction: row-reverse;
}

/* LEFT FORM */
.booking-form-box {
  flex: 1;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(15px);
  padding: 35px;
  border-radius: 25px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.4);
}
.row{
  display: flex;
  
  
}
.row1{
  width: 15px;
}
.booking-form-box h2 {
  margin-bottom: 20px;
  font-size: 28px;
}
.p1-1{
  color: rgb(205, 92, 92);
  font-weight: bolder;
}
.p1-2{
  color: rgb(205, 201, 92);
  font-weight: bolder;
}
.p1-3{
  color: rgb(92, 205, 109);
  font-weight: bolder;
}
.p1-4{
  color: rgb(105, 92, 205);
  font-weight: bolder;
}

.booking-form-box input,
.booking-form-box select {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border: none;
  border-radius: 12px;
  outline: none;
}

/* .row {
  display: flex;
  
} */

.area-title {
  margin: 15px 0 10px;
}

.area-options {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.area-card {
  padding: 12px 18px;
  border-radius: 12px;
  background: rgba(255,255,255,0.2);
  cursor: pointer;
  transition: 0.3s;
}

.area-card:hover,
.area-card.active {
  background: olivedrab;
  transform: translateY(-3px);
}

.book-btn {
  margin-top: 12px;
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 15px;
  background: olivedrab;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.book-btn:hover {
  background: #6b8e23;
  letter-spacing: 1px;
}

/* RIGHT CONTENT */
.booking-content {
  flex: 1;
}

.booking-content h2 {
  font-size: 34px;
  margin-bottom: 15px;
}

.booking-content p {
  line-height: 1.7;
  margin-bottom: 20px;
  color: #f0f0f0;
}

.booking-content ul {
  list-style: none;
}

.booking-content ul li {
  margin-bottom: 10px;
  font-size: 18px;
}

/* RESPONSIVE */
@media(max-width: 900px){
  .booking-wrapper {
    flex-direction: column;
      flex-direction: column-reverse; 
  }
}
/* 6section */
.testimonial-section{
  margin:0;
  font-family:sans-serif;
  background:#6587d8;
}

.testimonial-section{
  padding:80px 0;
  text-align:center;
  background:wheat;
  color:#fff;
}

.testimonial-section h2{
  font-size:50px;
  font-weight: bolder;
  margin-bottom:40px;
  color:olivedrab;
}

.sliderh{
  overflow:hidden;
  width:100%;
  position:relative;
}

.slide-track{
  display:flex;
  gap:30px;
  transition:transform .6s ease;
}

.cardh{
  min-width:320px;
  background:#111827;
  border-radius:20px;
  padding:20px;
  box-shadow:0 15px 40px rgba(0,0,0,.5);
  transform:scale(.8);
  opacity:.5;
  transition:.5s;
}

.cardh img{
  width:100%;
  height:200px;
  object-fit:cover;
  border-radius:15px;
  margin-bottom:15px;
}

.cardh h3{
  color:olivedrab;
  margin-bottom:10px;
  font-size: 30px;
  font-family: cursive;
  font-weight: bolder;
}

.cardh.active{
  transform:scale(1);
  opacity:1;
  background:#1e293b;
}

.dots{
  margin-top:30px;
}

.dots span{
  display:inline-block;
  width:12px;
  height:12px;
  margin:5px;
  background:#334155;
  border-radius:50%;
  transition:.3s;
}

.dots span.active{
  background:#fff;
}
/* 7 sectio */
.fb-sec{
  background:#555655;
  padding:80px 20px;
}
.fb-wrap{
  max-width:1100px;
  margin:auto;
  display:flex;
  gap:40px;
  align-items:center;
  flex-wrap:wrap;
}
.fb-form-box{
  flex:1;
  min-width:300px;
  background:#263626;
  padding:30px;
  border-radius:14px;
  box-shadow:0 10px 30px rgba(0,0,0,.4);
}
.fb-form-box h3{
  color:olivedrab;
  margin-bottom:15px;
}
.fb-form-box input,
.fb-form-box textarea{
  width:100%;
  margin:10px 0;
  padding:12px;
  border:none;
  border-radius:8px;
  background:#1a241a;
  color:#fff;
  outline:none;
}
.fb-check{
  display:flex;
  justify-content:space-between;
  font-size:13px;
  color:#ccc;
  margin:10px 0 15px;
}
.fb-form-box button{
  width:100%;
  padding:13px;
  border:none;
  border-radius:25px;
  background:olivedrab;
  color:#fff;
  font-weight:bold;
  cursor:pointer;
  transition:.3s;
}
.fb-form-box button:hover{
  background:#6b8e23;
}
.fb-success{
  display:none;
  color:#7CFC00;
  margin-top:10px;
  font-size:14px;
}

/* Right Content */
.fb-content{
  flex:1;
  min-width:300px;
  color:#fff;
}
.fb-content h2{
  color:olivedrab;
  margin-bottom:15px;
  font-size:32px;
}
.fb-content p{
  line-height:1.7;
  margin-bottom:15px;
  color:#ddd;
}
.fb-content ul{
  list-style:none;
  padding:0;
}
.fb-content li{
  margin:8px 0;
  color:#cfcfcf;
}
/* last 8 */
.pro-footer{
  background:#252323;
  color:#fefcfc;
  padding:80px 20px 25px;
  font-family:Arial, sans-serif;
}
.pro-footer-container{
  max-width:1200px;
  margin:auto;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:40px;
}
.pro-footer-col h2,
.pro-footer-col h3{
  color:olivedrab;
  margin-bottom:18px;
}
.footer-logo{
  font-size:26px;
  font-weight:bold;
}
.pro-footer-col p{
  line-height:1.7;
  font-size:15px;
  margin:8px 0;
}
.pro-footer-col ul{
  list-style:none;
  padding:0;
}
.pro-footer-col ul li{
  margin:10px 0;
}
.pro-footer-col ul li a{
  text-decoration:none;
  color:#bbb;
  transition:.3s;
}
.pro-footer-col ul li a:hover{
  color:olivedrab;
  padding-left:6px;
}
.social-icons{
  margin-top:15px;
}
.social-icons a{
  display:inline-block;
  width:38px;
  height:38px;
  line-height:38px;
  text-align:center;
  margin-right:8px;
  background:#111;
  border-radius:50%;
  color:#fff;
  transition:.3s;
  font-size:15px;
}
.social-icons a:hover{
  background:olivedrab;
  transform:translateY(-3px);
}
.pro-footer-bottom{
  text-align:center;
  border-top:1px solid #222;
  margin-top:40px;
  padding-top:15px;
  font-size:14px;
  color:#888;
}